
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h3>Employee List</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Join Date</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

